@if (CurrentItem != null)
{
    <div class="all"
        ondragover="event.preventDefault();"
        draggable="true"
        @ondragstart="@OnDragStart"
        @ondrop="@OnDrop"
        @ondragenter="@OnDragEnter"
        @ondragleave="@OnDragLeave">

        <div class="id">
            <p>@CurrentItem.Id</p>
        </div>
        <div class="image">
            @if (!string.IsNullOrWhiteSpace(CurrentItem.ImageBase64))
        {
                <img src="data:image/png;base64, @(CurrentItem.ImageBase64)" class="img-thumbnail" title="@CurrentItem.DisplayName" alt="@CurrentItem.DisplayName" style="height: 50px;" />
        }
        else
        {
                <img src="images/default.png" class="img-thumbnail" title="@CurrentItem.DisplayName" alt="@CurrentItem.DisplayName" style="height: 50px;" />
        }
        </div>
        <div class="name">
            <p>@CurrentItem.DisplayName</p>
        </div>
        <a href="Edit/@(CurrentItem.Id)" class="d-flex flex-row justify-content-center align-items-center btn btn-primary m-2" style="width: 30px; height: 30px"><i class="fa fa-edit"></i></a>
        <button type="button" class="d-flex flex-row justify-content-center align-items-center btn btn-primary m-2" style="width: 30px; height: 30px" @onclick="() => OnDelete(CurrentItem.Id)"><i class="fa fa-trash"></i></button>
    </div>
} else {
    <div class="all"> </div>
}
