@if (CurrentItem != null)
{
    <div class="all"
        ondragover="event.preventDefault();"
        draggable="true"
        @ondragstart="@OnDragStart"
        @ondrop="@OnDrop"
        @ondragenter="@OnDragEnter"
        @ondragleave="@OnDragLeave">

        <div class="id">
            <p>@CurrentItem.Id</p>
        </div>
        <div class="image">
            @if (!string.IsNullOrWhiteSpace(CurrentItem.ImageBase64))
        {
                <img src="data:image/png;base64, @(CurrentItem.ImageBase64)" class="img-thumbnail" title="@CurrentItem.DisplayName" alt="@CurrentItem.DisplayName" style="height: 50px;" />
        }
        else
        {
                <img src="images/default.png" class="img-thumbnail" title="@CurrentItem.DisplayName" alt="@CurrentItem.DisplayName" style="height: 50px;" />
        }
        </div>
        <div class="name">
            <p>@CurrentItem.DisplayName</p>
        </div>
    </div>
} else {
    <div class="all"> </div>
}
